@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
body {
    font-family: "sofia-pro", 'sans-serif';
    letter-spacing: -0.8px;
}
.main_input {
    @apply font-sofia text-sm font-light text-black bg-white px-4 py-2.5 rounded-3xl border-none outline-none shadow-none;
}
.main_checkbox {
    @apply w-4 h-4 mr-2 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
}
.main_input.alt {
    border: 1px solid rgba(188, 187, 187, 0.671);
}
.main_btn {
    @apply font-sofia text-sm font-light text-white bg-blue-600 px-4 py-2.5 rounded-3xl outline-none shadow-none;
}
.main_bg {
    @apply relative min-h-screen h-full;
}
.main_sidenav {
    @apply fixed right-0 top-0 bg-white rounded-tl-45px rounded-bl-45px p-10 w-6/12 h-full z-[999] overflow-y-scroll;
}
.main_bg::after {
    content: '';
    @apply bg-black/85 top-0 left-0 absolute w-full h-full block z-[1];
}
.icon_invert svg {
    @apply fill-black;
}
.main-text {
    @apply font-dmsans text-white font-normal text-lg tracking-tight leading-7;
}
.s-main-btn {
    @apply font-dmsans text-black font-extralight text-sm px-6 py-4 rounded-40px border-[1.5px] border-white hover:bg-white/60 duration-500;
}
.btn-large  {
    @apply flex flex-row items-center;
    span {
        @apply border border-black rounded-full p-2 ml-4 duration-500;
        svg {
            @apply fill-black duration-500;
        }
    }
}
.btn-large:hover span {
    @apply bg-mainhometwo border-white hover:text-white;
}
.btn-large:hover span svg {
    @apply fill-white;
}
.btn-white {
    @apply bg-white text-black py-3 px-6 rounded-full font-light flex w-fit items-center duration-500 font-dmsans;
    svg {
        @apply fill-black ml-1 h-6 duration-500;
    }
}
.btn-white:hover svg {
    @apply transition-all translate-x-2 duration-500;
}
.btn-white.alt {
    @apply bg-mainhometwo text-white py-3 px-6 rounded-full font-light flex w-fit items-center duration-500 font-dmsans;
    svg {
        @apply fill-white ml-1 h-6 duration-500;
    }
}
.btn-white:hover svg {
    @apply transition-all translate-x-2 duration-500;
}
.main-ade h1, .t-layout h1 {
    @apply font-dmsans text-6xl font-bold tracking-normal uppercase;
}
.main-ade h1.alt {
    @apply !font-dmsans !text-6xl !font-extralight z-10 normal-case text-white;
}
.main-ade h2, .t-layout h2 {
    @apply font-dmsans text-6xl font-light;
}
.main-ade h3, .t-layout h3 {
    @apply font-dmsans text-2xl font-semibold;
}
.main-ade .contact-info {
    div {
        @apply mb-4;
    }
    svg {
        @apply mr-1.5;
    }
}
.main-ade input[type="text"], .main-ade textarea, .main-ade select {
    @apply font-dmsans text-base font-light rounded-[30px] px-6 py-3 border border-black bg-transparent;
}
.hero-overlay {
    @apply relative;
}
.hero-overlay::after {
    content: '';
    @apply absolute top-0 left-0 w-full h-full block bg-gradient-to-b from-[#242424] to-[#D03630] opacity-75;
}
.t-layout ul, .main-ade ul {
    @apply list-disc list-outside pl-3.5;
}
.t-layout ol, .main-ade ol {
    @apply list-decimal list-outside pl-3.5;
}